.calculator{
width: 300px;   
background-color: #a75b9a; 
margin: 50px auto 10px auto;
padding: 7px;
border-radius: 5px;
display: block;

}
h1{
    text-align: center;
}

#layar{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #a75b9a;
    font-size: 50px;
    font-weight: bold;
    color: rgb(104, 49, 86);
    padding: 7px 5px;
    text-align: right;
    outline: none;
}

.container-tombol{
    display: flex;
    flex-wrap: wrap;
}

.tombol{
    display: flex;
    width: 25%;
    font-size: 20px;
    color: rgb(24, 23, 23);
    font-weight: bold;
    height: 70px;
    border: 1px solid #cecece;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.tombol:nth-child(4n+1) {
    border-left: 1px solid #cecece;
}

.tombol:hover{
    background-color: #d8d8d8;
    cursor: pointer;
}
#nol{
    flex-grow: 2;
}
#operator{
    background-color: #d8d8d8;
}

#hitung{
    background-color: #ffa64a;
    color: white;
}

#hitung:hover{
    background-color: #6e6434;
    cursor: pointer;
}

footer {
    padding: 5px;
  }
  footer li {
    list-style: none;
  }
  footer a {
    color:rgb(26, 126, 112);
  }
  
/*HP*/
@media (max-width: 576px) {
    .calculator {
        width: 90%;
        height: 90%;
    }
}